<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <% if (locals.nameLength) { %>
        <h1>The length of the name is <%= nameLength %></h1>
   <% } else { %>
    <h1>Enter your fname and lname 👇</h1>
   <%  } %>
    <form action="/submit" method="post" >
        <input type="text" id="fname" name="fname" required placeholder="fname">
        <input type="text" id="lname" name="lname" required placeholder="lname">
        <input type="submit" value="ok">
    </form>
</body>
</html>